html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

a:active, a:visited, a:focus {
    outline: none;
    text-decoration: none;
}

/*HEADER*/
.wrapper {
    display: table-cell;
    vertical-align: middle;
}

.main {
    position: relative;
    display: table;
    text-align: center;
    background: #000 url("../img/main_bg.jpg") center center no-repeat;
    color: #fff;
    height: 100vh;
    width: 100%;
    
}

.main_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index:1;
}

.main h1 {
    margin-bottom: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 4.8rem;
}

.main p {
    font-size: 3rem;
    font-weight: 300;
}

.main_line {
    width: 200px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.main_header {
    position: relative;
    z-index: 2;
}

.main_down {
    position: absolute;
    bottom: 2rem;
    display: inline-block;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
    left: 50%;
    margin-left: -25px;
    z-index: 4;
    color: #fff;
    line-height: 50px;
    transition: 0.2s;
}

.main_down:hover {
    color: #fff;
    border-color: #fff;
}

/*PORTFOLIO*/
.portfolio {
    padding: 10rem 0rem;
    text-align: center;
}

.portfolio img {
    width: 100%;
    max-width: 360px;
    box-shadow: 0px 4px 29px 0px rgba(87,92,97,.54);
}

.portfolio a {
    display: block;
    margin: 2rem auto 5rem;
    width: 17rem;
    color: #333;
    border-bottom: 1px solid transparent;
}

.portfolio a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #333;
}

.section_header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3.6rem;
    margin-bottom: 5rem;
}

/*FOOTER*/
.footer {
    background-color: #646464;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

.footer strong {
    font-weight: 300;
    font-size: 2.4rem;
}

.social_links {
    margin-top: 1rem;
}

.social_links a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    transition: 0.2s;
}

.social_links a:hover {
    background-color: #fff;
    color: #646464;
}

.offer_btn {
    display: block;
    width: 80%;
    max-width: 200px;
    margin: 1rem auto;
    border: 1px solid #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    border-radius: 100px;
    transition: 0.2s;
}

.offer_btn:hover {
    background-color: #fff;
    color: #646464;
    text-decoration: none;
}

/*MODAL*/
.modal img{
    width: 100%;
}

.close {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.modal-title {
    font-weight: 800;
    font-size: 2rem;
}

.modal_btn {
    display: inline-block;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.modal_btn:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 0px) and (max-width: 480px) {
    html {
        font-size: 7px;
    }

    .footer strong {
        margin: 3rem 0 2rem;
        display: inline-block;
    }

    .social_links a {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer strong {
        margin: 3rem 0 2rem;
        display: inline-block;
    }
}
