@media only screen and (max-width: 768px) {
    html, body{width:100%; height:100%; overflow-x:hidden}
    .navbar-header {        
        position: fixed;
        background-color: rgb(97, 63, 0);
        width: 100%;
        height: 70px;
        z-index: ;
    }    
    .header_main {
        max-width: 400px; 
        margin: 0 auto; 
        padding-top: 200px;  
          
    }
    .header_main img {
        width: 100%;        
    }
    .menu_btn {
        background-color: #e88d29;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 10px 30px 0 0;
    }    
    .menu_btn span {
        color: #ccc;
        font-size: 17px;
    }
    .logo {
        margin-top: -25px;
    }    
    .menu li {
        float: none;
        margin: 0;
    }
    .menu {
        background-color: rgb(97, 63, 0);    
        overflow: hidden;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 99;
    }
    .navbar-collapse {
        padding: 0;
    }
    .menu ul {
        position: relative;
        left: 30px;
        opacity: 1;        
    }
    .menu .some {
        left: 0;
    }
    .menu li:hover ul
    {
        left: 30px; 
        text-align: ;      
    }
    .menu li:hover .some {
        left: 0;
    }
    .menu {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .menu li a {
        font-size: 27px;
    }
    .hr_1, .hr_2 {
        height: 65px;
        width: 1px;
        position: absolute;
        left: 170px;
    }
    .hr_2 {
        left: 238px;
        height: 106px;
    }
    .content i {
        font-size: 50px;
    }
    .content h4 {
        font-size: 30px;
    }
    .content p {
        font-size: 15px;
    }
    .carousel {
        height: 400px;
        width: 400px;
        margin-top: 60px;
    }
    .map {
        display: none;
    }
    .main h1{
        margin-top: 0;
    }
    .menu_footer  {
       margin: auto;
    }}
@media only screen and (max-width: 400px) {
    .logo {
        margin-left: -25px;
    }  
    .menu_btn {
        margin: 10px 10px 0 0;
    }
    .content i {
        font-size: 30px;
    }
    .content h4 {
        font-size: 20px;
    }
    .content {
        margin-top: 0;
        margin-bottom: 0;
    }
    .content p {
        font-size: 13px;
    }
    .carousel {
        height: 300px;
        width: 300px;
    }
    #dignity h1 {
        font-size: 30px;
        margin-top: 0;
    }
    .video_desc h4{
        font-size: 22px;
        margin-bottom: 0;
    }
    .activ {
        height: 550px;
    }
    .submit {
        margin-bottom: 15px;
    }
    .words strong {
        font-size: 12px;
    }
    }
