@font-face{
    font-family: 'Monly Serif Lite';
    src: local('Monly Serif Lite'),
        url('bootstrap/fonts/Monly-Serif-Bold.otf');
    font-weight: bold;
}
body {    
    font-family: Monly Serif Lite,sans-serif;
}
a,
a:active,
a:link,
a:visited{
    text-decoration: none;
    color: #fff;
}
h1 {
    font-size: 50px;
}

/*HEADER*/
header,
#dignity,
.activ,
.map,
.video {
    height: 100vh;
    background-size: cover;
    text-align: center;
}
/*.top_panel {
    background-color: #1e1300;
    height: 60px;
    color: white;
    padding-top: 15px;   
    font-size: 20px;    
}
.top_panel a {    
    font-size: 20px;
    transition: 0.6s;
}
.top_panel a:hover {    
    color: #e87c08;
}
.lang {
    padding-left: 5px;   
    margin:5px;   
}
.lang:last-child {
    margin-right: 40px;
}*/
.menu {    
    //width: 100%;   
    list-style: none;
    margin-top: 50px;
}
.menu li {
    float: left;
    margin-right: 10px;
    position:relative;
    display: block;
}
.menu li a {
    display: block;
    padding: 5px 5px 0 5px;    
    font-size: 25px;
}
.menu li a:hover {
    color: #9d8b5e;
}
.menu ul {    
    position:absolute;
    left:-9999px; 
    opacity:0; 
    -webkit-transition:0.25s linear opacity; 
}
.menu ul li {     
    float:none;   
}
.menu ul a {
    white-space:nowrap; 
    display:block;   
}
.menu li:hover ul { 
    left:-78px; 
    opacity:1; 
    text-align:center;
}
.menu li:hover .some {
    left: -38px;
}
.menu li:hover ul li a:hover { 
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
}
.menu .home {
    color: #e87c08;
}
.hr_1,
.hr_2 {
    height: 1px;
    width: 45px;
    background-color: #fff;
    margin: 10px 10px 0 38px;
}
.hr_2 {
    margin: 10px 0 0 0;
    width: 90px;
}
.header_main {    
    margin: 150px;    
}
.header_main h1 {
    color: #e88d29;     
    margin-top: 30px;
}
.logo {
    width: 150px;
    height: 150px;    
}
.hr {
    position: absolute;
    display: none;
    width: 2px;    
    background-color: lightblue;
}

/*ДОСТОИНСТВА*/
.dignity h1 {    
    color: #031eb5;
    margin-top: 30px;
}
.dignity_line {
    height: 1px;
    width: 100px;
    background-color: #2f4efc;
    margin: 0 auto;
}
.content {
    text-align: center;
    margin: 20px 0 20px 0;
}
.content h4 {
    font-size: 35px;
    color: navy;
}
.content p {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    color: indigo;
}
.content i {
    font-size: 65px;
    color: #29088A;
}

/*АКТИВ*/
.activ h1 {
    color: #e88d29;    
    margin: 30px 0 10px 0;
}
.carousel  {
    height: 500px;
    width: 500px;
    margin: 0 auto;    
}
.carousel-inner {
    border-radius: 30%;
}
.activ h3,
.activ p {
    font-family: 'Times New Roman', sans-serif;
}
a.btn {
    font-size: 20px;
    border: 1px solid #e88d29;
    background-color: #e88d29;
    margin-top: 20px;
    transition: 0.6s;
}
a.btn:hover {
    color: white;
    background-color:  #9d8b5e;
    border-color: wheat;
}

/*ГЕОГРАФИЯ СТУДЕНТОВ*/
.geography {
    background: url('img/map/karta.png');
    width: 879px;
    height: 589px;
    margin: 0 auto;
}
.map .student {
    width: 35px;
    height: 35px;
    transition: 0.4s;
    position: relative;
    display: inline-block;  
}
.num_1 {    
     
}
.num_2 {
    
}
.num_3 {
    
}
.num_4 {
    
}
.num_5 {
    
}
.num_6 {
    
}
.num_7 {
   
}
.num_8 {
    
}
.num_9 {
   
}
.num_10 {    
   
}
.num_11 {
  
}
.num_12 {
    
}
.num_13 {
   
}
.num_14 {
    
}
.num_15 {
    
}
.num_16 {
    
}
.num_17 {
  
}
.num_18 {
    
}
.num_19 {
  
}
.num_20 {
    
}
.num_21 {
    
}
.num_22 {
   
}
.num_23 {
    
}
.num_24 {
    
}
.num_25 {    
    
}
.num_26 {
   
}
.map a:hover  .student{
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    z-index: 9999;
}

/*VIDEO*/
.video h1 {
    color: #e88d29;
    padding: 30px 0 50px 0;
}
.video_block {
    position:relative;
}
.video_block:hover .image-wrap {
    opacity: 1;
}
.image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    background-color: rgba(232, 124, 8,.6);
}
.video_desc {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.video_desc h4 {
    font-size: 25px;
}
.p0 {
    padding:0;
}
#frame {
    display:none;
    position: absolute;
    z-index: 9999;
    margin:-30px 0 0 100px;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/*FORMA*/
.forma {
	margin: 40px 0 40px 0;
	text-align: center;
}
.forma h2 {
	margin-top:0;
}
.forma p {
	font-size: 20px;
}
.forma img {
    display: block;
    text-align: center;
}

/*FOOTER*/
footer {
    background: url("img/footer/bg.jpg") no-repeat;
    height: 270px;
    color: white;    
}
.social_btn {
	background-color: #e87c08;
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
    margin-left: 20px;
    padding-top: 5px;
    transition: 0.5s;
}
.social_btn span {
		font-size: 20px;		
}
.footer_btn {
    text-align: center;
    margin: 50px 0 0 0;
}
.social_btn:hover {
    background-color: #9d8b5e;
}
.footer_bottom {
    background-color: #e87c08;
    height: 100px;
    margin-top: 40px;
    opacity: 0.8;
    color: white;
    font-family: Georgia,sans-serif;
    text-align:center;
}
.m0 {
    margin: 0;
}
.footer_bottom .words {
    color: white;    
    margin-top: 30px;
}
.words strong {
    font-size: 15px;
    padding-bottom: 10px;
}
.words p {
    font-size: 10px;
}
.words span {
    color: red;
}